body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-image: url('../imagenes/fondo3.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1a75ff;
    padding: 20px;
    text-align: center;
    color: white;
}

h1 {
    margin: 0;
    font-size: 2em;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #000000;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

main {
    padding: 20px;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 2px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.img1{
    width: 150px;
    margin: 200px;
    margin-left: 300px;
    margin-right: 280px;
}

.img-icons{
    margin-left: 5px;
}

.texto-con-bordes {
    border: 2px solid #333;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    margin: 20px;
}

.imagen-con-bordes {
    border: 2px solid #333;
    padding: 10px;
    border-radius: 5px;
    width: 100px;
    margin: 20px;
}
form {
    max-width: 400px;
    margin: 0 auto;
}
label {
    display: block;
    margin-bottom: 8px;
    margin-top: 20px;
}

textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
}
button:hover {
    background-color: #000000;
}